.sidebar{
    /* display: flex; */
    text-decoration: none;
    list-style: none;
    width: 250px;
    background-color: #2a2828;
    color: rgb(250, 250, 250);
    padding-bottom: 213px;
    padding-left: 15px;
    padding-top: 20px;
}
ul li {
    list-style: none;
    text-decoration: none;
}
.side{
    display: flex;
    text-justify: auto;
    list-style: none;
}
.routes{
    height: 100vh;
    width: 100%;
    /* background-color: aliceblue; */
    border: 30px;
    /* border-color: blue; */
}
li a{
    text-decoration: none;
    color: rgb(139, 142, 144);
}