*{
    margin:0;
    padding:0;
    text-decoration: none;
    /* font-family: "Source Sans Pro", sans-serif; */
  }
  .contains{
     display: flex;
  }

  .mainbox{
    width: 100vw;
    padding: 2rem 3rem 0rem 3rem;
    /* text-align: justify; */
    height: 90vh;
    /* overflow-y: hidden;
    overflow-x: hidden; */
  }

  .sidebar{
    background: #000;
    color: #fff;
    height: 100vh;
    margin-top: -60px;
    width: 200px;
    transition: all 0.5s;
    margin-right: 0px;
    /* position: fixed; */
    z-index: 2;
  }
  .top_section{
    display: flex;
    align-items:center;
    /* justify-content: space-evenly; */
    padding:20px 15px;
  }
  .logo{
    font-size: 20px;
    margin-left: 0px;
    color: white;
  }
  
  .bars{
    display: flex;
    font-size: 25px;
    margin-left: 50px;
    cursor: pointer;
  }
  .link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    transition: all 0.5s;
    text-decoration: none;
  }
  .link:hover{
    background:rgb(97, 187, 243);
    color: rgb(33, 31, 31);
    transition: all 0.5s;
  }
  .active{
    background: lightskyblue;
    color: #000;
  }
  .icon, .link_text{
    font-size: 20px;
  }
  