.user Form{
    margin-left: 300px;
    width: 60%;
    font-weight: bold;
}
.user Form button {
    margin-left: 250px;
    margin-top: 20px;
    width: 20%;
    height: 8vh;
    font-weight: bold;
}

