.subcategory Form{
        width: 50%;
        margin-left: 350px;
        color: rgb(15, 14, 14);
        font-weight: bold;       
}
.subcategory button{
        margin-left: 250px;
    margin-top: 10px;
    width: 20%;
    height: 8vh;
    font-weight: bold;
}
