.addcategory Form{
    width: 50%;
    margin-left: 300px;
    color: rgb(17, 16, 16);
    font-weight: bold;
}
h1 {
    margin-left: 300px;
}
.addcategory button{
    margin-left: 230px;
    margin-top: 10px;
    width: 20%;
    height: 8vh;
    font-weight: bold;
}
